@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Order Submitted Successfully</h1><br />
        <img src="~/Image/download (1).jpeg" width="50%" />
    </div>

    Nature photography is a wide range of photography taken outdoors 
    and devoted to displaying natural elements such as landscapes, 
    wildlife, plants, and close-ups of natural scenes and textures
</div>