<div class="row">
    <div class="col-9">
        <h2 class="text-warning">Product</h2>
    </div>
    <div class="col-3">
        <a asp-action="Upsert" class="btn btn-warning">New Product</a>
    </div>
</div>
<div class="row border p-2 m-2">
    <table id="tblData" class="table table-bordered table-striped table-active">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>ISBN</th>
                <th>ListPrice</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section scripts
{
<script src="~/js/Product.js"></script>
}
